#botao-voltar {
    display: none;
    position: fixed; 
    right: 15px; 
    bottom: 25px;
}

#botao-voltar a {
    background-color: white; 
    border-radius: 15px; 
    border: 2px black solid;
    padding: 10px;
}

@media (max-width: 992px) {
    #botao-voltar {
		display: block;
	}
}